<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.dao.PayInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cn.pojo.PayInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="BIGINT" />
    <result column="pay_paltform" property="payPaltform" jdbcType="INTEGER" />
    <result column="palyform_number" property="palyformNumber" jdbcType="VARCHAR" />
    <result column="palyform_status" property="palyformStatus" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, order_no, pay_paltform, palyform_number, palyform_status, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mmall_pay_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mmall_pay_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.pojo.PayInfo" >
    insert into mmall_pay_info (id, user_id, order_no, 
      pay_paltform, palyform_number, palyform_status, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{orderNo,jdbcType=BIGINT}, 
      #{payPaltform,jdbcType=INTEGER}, #{palyformNumber,jdbcType=VARCHAR}, #{palyformStatus,jdbcType=VARCHAR}, 
     now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.cn.pojo.PayInfo" >
    insert into mmall_pay_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="payPaltform != null" >
        pay_paltform,
      </if>
      <if test="palyformNumber != null" >
        palyform_number,
      </if>
      <if test="palyformStatus != null" >
        palyform_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="payPaltform != null" >
        #{payPaltform,jdbcType=INTEGER},
      </if>
      <if test="palyformNumber != null" >
        #{palyformNumber,jdbcType=VARCHAR},
      </if>
      <if test="palyformStatus != null" >
        #{palyformStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.pojo.PayInfo" >
    update mmall_pay_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="payPaltform != null" >
        pay_paltform = #{payPaltform,jdbcType=INTEGER},
      </if>
      <if test="palyformNumber != null" >
        palyform_number = #{palyformNumber,jdbcType=VARCHAR},
      </if>
      <if test="palyformStatus != null" >
        palyform_status = #{palyformStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.pojo.PayInfo" >
    update mmall_pay_info
    set user_id = #{userId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=BIGINT},
      pay_paltform = #{payPaltform,jdbcType=INTEGER},
      palyform_number = #{palyformNumber,jdbcType=VARCHAR},
      palyform_status = #{palyformStatus,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>